.admin {
  --admin-padding-block: 20px;
  --admin-padding-inline: 30px;

  display: flex;

  min-height: 100dvh;
  padding-top: var(--site-header-height);

  background: var(--color-background);
}

.admin__content {
  flex: 1;

  display: grid;
  gap: 15px;
  grid-template-rows: min-content;
  grid-template-columns: 500px 1fr;

  padding-block: var(--admin-padding-block);
  padding-inline: var(--admin-padding-inline);
}

/* status */

.system-status {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.system-status__card {
  padding: 12px 14px;

  background: var(--color-surface);
  border-radius: 5px;
}

.system-status__label {
  color: var(--color-text-muted);
  font-size: 0.85rem;
}

.system-status__value {
  padding-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* settings */

.system-settings {
  grid-row: 2 / 3;
}
