:root {
  --color-background: #f2f4f9;
  --color-surface: #fbfbfb;

  --color-text: #222222;
  --color-text-muted: #6b7280;

  --color-border: #e5e7eb;

  --color-primary: #10a37f;
  --color-primary-hover: #0d8f70;
  --color-primary-active: #0b7a60;

  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-error: #dc2626;
  --color-info: #2563eb;
}

[data-theme="dark"] {
  --color-background: #1f1e1e;
  --color-surface: #181717;

  --color-text: #f3f4f6;
  --color-text-muted: #9ca3af;
  --color-border: #3a3d40;

  --color-primary: #10b981;
  --color-primary-hover: #34d399;
  --color-primary-active: #059669;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    --color-background: #1f1e1e;
    --color-surface: #181717;

    --color-text: #f3f4f6;
    --color-text-muted: #9ca3af;
    --color-border: #3a3d40;

    --color-primary: #10b981;
    --color-primary-hover: #34d399;
    --color-primary-active: #059669;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    --color-info: #3b82f6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);

  color: var(--color-text);
  font-size: 16px;

  overflow-x: hidden;
}

input,
textarea,
button,
select {
  background: transparent;
  border: 0;
  outline: none;

  color: inherit;
  font: inherit;
}

textarea {
  resize: none;
}

/*  */

.auth-cover {
  position: fixed;
  inset: 0;

  display: grid;
  place-items: center;

  background: var(--color-surface);

  z-index: 9999;
}

.logo {
  -webkit-user-drag: none;
  user-select: none;
}
