.home {
  --home-sidebar-width: 240px;
  --home-header-height: 60px;

  min-height: 100dvh;
  padding-left: var(--home-sidebar-width);

  background: var(--color-surface);
}

@media (max-width: 1024px) {
  .home {
    padding-top: var(--home-header-height);
    padding-left: 0;
  }
}

.site-title {
  display: flex;
  gap: 6px;
  align-items: center;

  padding-block: 5px;
  padding-inline: 8px 12px;

  cursor: pointer;
}

.site-title h1 {
  color: var(--color-primary);
  font-size: 1rem;
}

.site-role {
  height: fit-content;

  padding-block: 2px 1px;
  padding-inline: 6px;

  border: solid 1px var(--color-border);
  border-radius: 3px;

  font-size: 0.75rem;
}

.site-role.is-admin {
  background: var(--color-primary);
  border-color: transparent;

  color: var(--color-text-white);
}

/*------------------------------ sidebar ------------------------------*/

.home__sidebar-overlay {
  position: fixed;
  inset: 0;

  background-color: color-mix(in srgb, var(--color-background) 50%, transparent);

  z-index: 8190;
}

.home__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: var(--home-sidebar-width);
  padding-bottom: 5px;

  background: var(--color-background);
  border-right: solid 1px var(--color-border);

  transition: transform 0.15s ease;
  z-index: 8200;
}

@media (max-width: 1024px) {
  .home__sidebar {
    transform: translateX(-100%);
  }
}

.home__sidebar.is-open {
  transform: translateX(0);
}

@media (max-width: 500px) {
  .home__sidebar.is-open {
    width: 100%;
  }
}

.home__sidebar.is-open .site-title {
  pointer-events: none;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--home-header-height);
  padding-inline: 12px 18px;

  border-bottom: solid 1px var(--color-border);
}

@media (max-width: 500px) {
  .sidebar__header {
    padding-inline: 12px;
  }
}

.sidebar__header-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sidebar__header-close {
  display: none;
  align-items: center;

  padding: 5px;

  cursor: pointer;
}

@media (max-width: 500px) {
  .sidebar__header-close {
    display: flex;
  }
}

.sidebar__actions {
  display: flex;
  gap: 5px;
  flex-direction: column;

  padding-bottom: 5px;
}

.sidebar__action-item {
  display: flex;
  gap: 8px;
  align-items: center;

  min-height: 40px;
  padding-inline: 16px;

  font-size: 0.9rem;

  user-select: none;
  cursor: pointer;
}

.sidebar__action-item:hover {
  background: var(--color-surface-hover);
}

.theme-change {
  flex: 1;

  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: flex-start;

  padding-block: 8px;
  padding-inline: 10px;

  border: solid 1px var(--color-border);
  border-radius: 3px;
}

.sidebar__action-item:has(.theme-change) {
  cursor: default;
}

.sidebar__action-item:has(.theme-change):hover {
  background: inherit;
}

.theme-change button {
  display: flex;
  gap: 5px;
  align-items: center;

  cursor: pointer;
}

.admin-link {
  display: flex;
  gap: 8px;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-inline: 16px;
}

.sidebar__action-item:has(.admin-link) {
  padding: 0;
}

.sidebar__action-item:has(.admin-link.is-viewer) {
  opacity: 0.5;
  pointer-events: none;
}

.logout-form {
  width: 100%;
  height: 100%;
}

.logout-form button {
  display: flex;
  gap: 8px;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-inline: 16px;

  cursor: pointer;
}

.sidebar__action-item:has(.logout-form) {
  padding: 0;
}

/*------------------------------ header ------------------------------*/

.home__header {
  display: none;
  gap: 5px;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: var(--home-header-height);
  padding-inline: 16px;

  background: var(--color-background);
  border-bottom: solid 1px var(--color-border);

  z-index: 8100;
}

@media (max-width: 1024px) {
  .home__header {
    display: flex;
  }
}

.header__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
}

/*------------------------------ content ------------------------------*/

.home__content {
  height: 2000px;
}
