{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}?t={{ cache_buster }}">
{% endblock %}

{% block title %}
MizuMori | Admin
{% endblock %}

{% block content %}
{% include "components/auth-cover.html" %}
{% include "components/navigation.html" %}

<div class="admin">
  <div class="admin__content">
    <div x-data="common_theme">
      <button @click="setSystemTheme()">user system settings</button>
      <button @click="setLightTheme()">light</button>
      <button @click="setDarkTheme()">dark</button>
    </div>

    <form action="{{ url_for('logout') }}" method="post">
      <button type="submit">ログアウト</button>
    </form>

    <form action="/api/watering" method="post">
      <input type="number" name="amount">
      <button type="submit">submit</button>
    </form>

    <form action="/api/watering/stop" method="post">
      <button type="submit">submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/admin.js') }}?t={{ cache_buster }}" type="module" defer></script>
{% endblock %}
