{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}?t={{ cache_buster }}">
{% endblock %}

{% block title %}
MizuMori | Admin
{% endblock %}

{% block content %}
{% include "components/auth-cover.html" %}
{% include "components/navigation.html" %}

<div class="admin">
  <div class="admin__content">
    <section class="system-status">
      <div class="system-status__cards">
        <div class="system-status__card">
          <div class="system-status__label">土壌水分量</div>
          <div class="system-status__value">100.0%</div>
        </div>
        <div class="system-status__card">
          <div class="system-status__label">土壌水分量</div>
          <div class="system-status__value">100.0%</div>
        </div>
        <div class="system-status__card">
          <div class="system-status__label">温度</div>
          <div class="system-status__value">50.0℃</div>
        </div>
        <div class="system-status__card">
          <div class="system-status__label">湿度</div>
          <div class="system-status__value">100.0%</div>
        </div>
      </div>
      <div class="system-status__measured-at">2026/10/10 10:10:10</div>
    </section>
    <section class="system-controls">
      <div class="system-controls__panel">
        <h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-drop-circle">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10.07 15.34c1.115 .88 2.74 .88 3.855 0c1.115 -.88 1.398 -2.388 .671 -3.575l-2.596 -3.765l-2.602 3.765c-.726 1.187 -.443 2.694 .672 3.575" />
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          </svg>
          <span>手動給水</span>
        </h2>
      </div>
      <div class="system-controls__panel">
        <h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-drop-circle">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10.07 15.34c1.115 .88 2.74 .88 3.855 0c1.115 -.88 1.398 -2.388 .671 -3.575l-2.596 -3.765l-2.602 3.765c-.726 1.187 -.443 2.694 .672 3.575" />
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          </svg>
          <span>自動給水設定</span>
        </h2>
      </div>
      <div class="system-controls__panel">
        <h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-drop-circle">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10.07 15.34c1.115 .88 2.74 .88 3.855 0c1.115 -.88 1.398 -2.388 .671 -3.575l-2.596 -3.765l-2.602 3.765c-.726 1.187 -.443 2.694 .672 3.575" />
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          </svg>
          <span>校正・メンテナンス</span>
        </h2>
      </div>
    </section>
    <section class="system-settings">settings</section>


    <!-- <form action="/api/watering" method="post">
      <input type="number" name="amount">
      <button type="submit">submit</button>
    </form>

    <form action="/api/watering/stop" method="post">
      <button type="submit">submit</button>
    </form> -->
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/admin.js') }}?t={{ cache_buster }}" type="module" defer></script>
{% endblock %}
