{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?t={{ cache_buster }}">
{% endblock %}

{% block title %}
MizuMori
{% endblock %}

{% block startup_script %}
<script>
  window.addEventListener("pageshow", (event) => {
    if (event.persisted) {
      window.location.reload();
    }
    document.getElementById("authCover").remove();
  });
</script>
{% endblock %}

{% block content %}
<div class="auth-cover" id="authCover">
  <div class="auth-cover__spinner">読み込み中</div>
</div>

{% include "components/navigation.html" %}

<div class="home" x-data="home">
  <main class="home__content">
    <section class="plant-image" x-data="plantImage">
      <div class="plant-image__frame">
        <img src="" alt="植物の様子" class="plant-image__img" x-ref="img">
        <div class="plant-image__menu">
          <div class="captured-at" x-text="formatDate(capturedAt, 'YYYY-MM-DD HH:mm')"></div>
          <button class="save-image" title="画像を保存する" :disabled="!imageBlob" @click="saveImage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
              <path d="M7 11l5 5l5 -5" />
              <path d="M12 4l0 12" />
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section class="system-info">
      <div class="system-info__card system-info__status" x-data="systemStatus">
        <div class="system-info__header">
          <div class="system-info__title">自動給水</div>
        </div>
        <div class="system-info__status-value">稼働中</div>
      </div>
      <div class="system-info__card system-info__history" x-data="systemHistory">
        <input class="hide" type="checkbox" id="historyOpener">
        <div class="system-info__header">
          <div class="system-info__title">給水履歴</div>
          <label for="historyOpener" class="history-list-opener">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square-chevron-down">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M15 11l-3 3l-3 -3" />
              <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14" />
            </svg>
          </label>
        </div>
        <div class=" system-info__history-list" x-ref="historyList">
          <template x-for="history in histories">
            <div class="system-info__history-item">
              <div class="watered-at" x-text="formatDate(history.watered_at, 'MM/DD HH:mm')"></div>
              <div class="watering-type" x-text="WATERING_TYPE[history.watering_type]"></div>
              <div class="amount-ml">
                <span x-text="history.amount_ml"></span>
                <span>ml</span>
              </div>
            </div>
          </template>
          <button class="system-info__history-more" @click="showMoreHistory()" :disabled="histories.length >= total" x-ref="historyItem">
            <template x-if=" histories.length < total">
              <span>さらに表示</span>
            </template>
            <template x-if=" histories.length >= total">
              <span>全履歴を表示しました</span>
            </template>
          </button>
        </div>
      </div>
    </section>
    <section class="sensor-values" x-data="sensorValues">
      <div class="sensor-values__measured-at" x-text="formatDate(measuredAt, 'YYYY-MM-DD HH:mm') || 'センサーを起動しています...'"></div>
      <div class="sensor-values__cards">
        <div class="sensor-card">
          <span class="sensor-type">土壌水分量</span>
          <span class="sensor-value">
            <span x-text="soilMoisture ?? '--'"></span>
            <span class="unit">%</span>
          </span>
        </div>
        <div class="sensor-card">
          <span class="sensor-type">温度</span>
          <span class="sensor-value">
            <span x-text="temperature ?? '--'"></span>
            <span class="unit">℃</span>
          </span>
        </div>
        <div class="sensor-card">
          <span class="sensor-type">湿度</span>
          <span class="sensor-value">
            <span x-text="humidity ?? '--'"></span>
            <span class="unit">%</span>
          </span>
        </div>
        <div class="sensor-card">
          <span class="sensor-type">湿度</span>
          <span class="sensor-value">
            <span x-text="humidity ?? '--'"></span>
            <span class="unit">%</span>
          </span>
        </div>
      </div>
      <div class="sensor-values__detail">
        ここに各種センサの推移などをグラフ化できたらいいな
      </div>
    </section>
  </main>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}?t={{ cache_buster }}" type="module" defer></script>
{% endblock %}
