<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>PBL6 | Login</title>

  <script>
    const theme = localStorage.getItem("PBL:theme");
    document.documentElement.dataset.theme = theme;
  </script>
</head>

<body>

  <div class="login">
    <div class="login__box">
      <header class="login__header">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" width="40" height="40" alt="logo">
        <h2>ログイン</h2>
        <p>パスワードを入力してログイン</p>
      </header>
      <div class="login__content">
        <form method="post" action="/login">
          <input type="password" name="password" class="login__password" placeholder="パスワード" autocomplete="current-password" autofocus required>
          <button type="submit" name="role" value="viewer" class="login__submit-viewer">ログイン</button>
          <button type="submit" name="role" value="admin" class="login__submit-admin">管理者としてログイン</button>
        </form>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/common.js') }}" type="module" defer></script>
  <script src="{{ url_for('static', filename='js/login.js') }}" type="module" defer></script>
  <script src="{{ url_for('static', filename='js/alpine.js') }}" defer></script>
</body>

</html>
