<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>PBL6 | Login</title>
</head>

<body>
  <h1>PBL6 Login</h1>
  <div>{{ error }}</div>

  <form method="post" action="/login">
    <input type="password" name="password">
    <button type="submit">ログイン</button>
  </form>

  <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</body>

</html>
