<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>PBL6 | Login</title>

  <script>
    const theme = localStorage.getItem("PBL:theme");
    document.documentElement.dataset.theme = theme;
  </script>
</head>

<body>
  <h1>PBL6 Login</h1>

  <form method="post" action="/login">
    <label>
      <input type="radio" name="role" value="viewer" checked>
      閲覧者
    </label>
    <label>
      <input type="radio" name="role" value="admin">
      管理者
    </label>

    <input type="password" name="password" autocomplete="current-password" autofocus required>
    <button type="submit">ログイン</button>
  </form>

  <div>{{ error }}</div>

  <script src="{{ url_for('static', filename='js/common.js') }}" type="module" defer></script>
  <script src="{{ url_for('static', filename='js/login.js') }}" type="module" defer></script>
  <script src="{{ url_for('static', filename='js/alpine.js') }}" defer></script>
</body>

</html>
